In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
# file paths
measurementsDF = pd.read_csv("Resources/hawaii_measurements.csv")
stationsDF = pd.read_csv("Resources/hawaii_stations.csv")

In [6]:
measurementsDF.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [11]:
shape = measurementsDF.shape
shape

(19550, 4)

In [37]:
# NaN values
notAnumMeasurements = measurementsDF[pd.isnull(measurementsDF).any(axis=1)]
notAnum.head()

        station        date  prcp  tobs
4   USC00519397  2010-01-06   NaN    73
26  USC00519397  2010-01-30   NaN    70
29  USC00519397  2010-02-03   NaN    67
43  USC00519397  2010-02-19   NaN    63
61  USC00519397  2010-03-11   NaN    73

In [39]:
notAnumMeasurements.shape

(1447, 4)

In [40]:
diffOfTab = len(measurementsDF) - len(notAnumMeasurements)

In [41]:
1 - (diffOfTab / len(measurementsDF))
# about 7% of data is missing 'prcp' values

0.07401534526854225

In [42]:
notAnumStations = stationsDF[pd.isnull(stationsDF).any(axis=1)]

In [44]:
notAnumStations.head(10)
# All data is present

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [45]:
stationsDF.to_csv("stations.csv", index = False)

In [46]:
measurementsDF.to_csv("measurements.csv", index = False)