In [5]:
# Dependencies
import pandas as pd
import numpy as np

In [6]:
filePath = ("purchase_data.json")

In [8]:
Pymoli = pd.read_json(filePath)
Pymoli.shape

(780, 6)

In [14]:
Pymoli.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [13]:
type(Pymoli)

pandas.core.frame.DataFrame

In [10]:
Pymoli.tail()

,Age,Gender,Item ID,Item Name,Price,SN
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [12]:
Columns = Pymoli.columns.values.tolist()
Columns

['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN']

## Player Count

In [16]:
# Find SN Unique
playerCount = len(Pymoli["SN"].unique())
playerCount

573

## Purchasing Analysis (Total)

In [19]:
# Number of Unique Items
delDup = Pymoli.drop_duplicates(["Item ID"])
len(delDup)

183

In [24]:
# Total Revenue
totRev = Pymoli["Price"].sum()
totRev
round(totRev)

2286

In [25]:
# Count... shape(780, 6)
count = Pymoli["Price"].count()
count

780

In [34]:
# Average Price
avgP = totRev/count
round(avgP)

3.0

## Gender Demographics

In [126]:
# Count of Gender
delDupGen = pd.DataFrame(Pymoli.groupby("Gender")["SN"].nunique())
delDupGen

                        SN
Gender
Female                 100
Male                   465
Other / Non-Disclosed    8

In [135]:
# % of Gender
round(delDupGen/playerCount *100,2)
# Most players are Male: 81.15%

                          SN
Gender
Female                 17.45
Male                   81.15
Other / Non-Disclosed   1.40

## Purchasing Analysis (Gender)

In [119]:
genCount = pd.DataFrame(Pymoli.groupby("Gender")["Price"].count())
genCount

                       Price
Gender
Female                   136
Male                     633
Other / Non-Disclosed     11

In [120]:
genTot = pd.DataFrame(Pymoli.groupby("Gender")["Price"].sum())
genTot

                         Price
Gender
Female                  382.91
Male                   1867.68
Other / Non-Disclosed    35.74

In [122]:
avgPurP = genTot/genCount
avgPurP

                          Price
Gender
Female                 2.815515
Male                   2.950521
Other / Non-Disclosed  3.249091

## Age Demographics

In [136]:
# create bins
bins = [0,10,15,20,25,30,35,40]